<html ng-app="app">
<head>
  <title>Subscritions & Sources</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<ng-view></ng-view>
<script type="text/ng-template" id="/sources.html">
	<h2>Source List</h2>
	<p><span>Filter by title</span><input type="text" ng-model="search.title"></p>
	<ul>
		<li ng-repeat="src in sources | filter: search">
			<p><a href="#/{{src._id}}">{{ src.title }}</a></p>
			<p><span>Tags: </span>
				<span ng-repeat="tag in src.tags">{{tag.title}} </span>
			</p>
		</li>
	</ul>
</script>
<script type="text/ng-template" id="/sourceDetail.html">
	<h1><a href="#/">Back</a>{{src.title}}</h1>
	<p><span>Created on </span><span>{{src.since}}</span></p>
	<p><label>Source URL</label><input type="text" value={{src.src}}></input></p>
	<p><label>Fav Icon</label><input type="text" value={{src.icon}}></input></p>
	<p><label>Default Image URL</label><input type="text" value={{src.cover}}></input></p>
	<p>Attached to {{src.tags.length}} channel{{2 > src.tags.length? "" : "s"}}: </p>
	<div>
		<ul>
			<li ng-repeat="ch in all_ch">
				<p ng-class="{active_ch: ch.active}">{{ch.title}}</p>
			</li>
			<li>
				<p><input type="text" value="Add New Channel"/></p>
			</li>
		</ul>
	</div>
</script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/asso.js"></script>
<script type="text/javascript">
	angular.module('app', ["ngRoute"])
	  .factory("R0", ["$http", function($http) {
		  return { "sources": $http.get("/api/sources"), "channels": $http.get("/api/channels") };
		}])
	  .controller('SourcesCtrl', ['$scope', "R0", function ($scope, R0) {
		  if(null == R0.sources) return;
		  R0.sources.success(function(data) {
				$scope.sources = data;
				Asso.tag($scope, R0);
			})
			.error(function(data, status) {
				console.log(data, status);
				$scope.sources = [];
			})
			;
		  if(null == R0.channels || null == R0.channels.success) return;
		  R0.channels.success(function(data) {
				if(0 != data.succ) {
					console.log("channel listing error: " + data.succ);
					$scope.channels = [];
					return;
				}
				$scope.channels = data.channels;
				Asso.tag($scope, R0);
			})
			.error(function(data, status) {
				console.log(data, status);
				$scope.channels = [];
			})
			;
			
	  }])
	  .controller("SrcDetailCtrl", ['$scope', '$routeParams', 'R0', Asso.cook])
	  .config(['$routeProvider', function ($routeProvider) {
		$routeProvider
		  .when('/', {
			templateUrl: '/sources.html',
			controller: 'SourcesCtrl'
		  })
		  .when('/:id', {
			templateUrl: '/sourceDetail.html',
			controller: 'SrcDetailCtrl'
		  });
	  }])
	;
</script>
</body>
</html>
