<html ng-app="app">
<head>
  <title>Subscritions & Sources</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<ng-view></ng-view>
<script type="text/ng-template" id="/sources.html">
	<h2>Source List</h2>
	<p><span>Filter by title</span><input type="text" ng-model="search.title"></p>
	<ul>
		<li>
			<p><a href="#/create">Add New Source</a></p><hr width="500" align="left"/>
		</li>
		<li ng-repeat="src in sources | filter: search">
			<p><a href="#/{{src._id}}">{{ src.title }}</a></p>
			<p><span>Tags: </span>
				<span ng-repeat="tag in src.tags"><u>{{tag.title}}</u>&nbsp &nbsp</span><hr width="500" align="left"/>
			</p>
		</li>
	</ul>
</script>
<script type="text/ng-template" id="/sourceDetail.html">
	<h1><a href="#/">Back</a><br /><br />Source Name:{{src.title}}</h1>
	<p ng-show="!(rec.create)"><span>Created on </span><span>{{src.since}}</span></p>
	<p ng-show="(rec.saved)"><span>Saved on </span><span>{{rec.save_stamp}}</span></p>
	<p ng-show="rec.create"><label>Name</label><input type="text" ng-model="src.title" ng-change="update()"></input></p>
	<table>
        <tbody>
        <tr><td align="right">Source URL</td><td align="left"><input type="text" ng-model="src.src" ng-change="update()"></input></td><td><a ng-show="is_url(src.src)" href="{{src.src}}" target="_blank">Preview</a></td></tr>
	<tr><td align= "right">Fav Icon</td><td><input type="text" ng-model="src.icon" ng-change="update()"></input></td><td><a ng-show="is_url(src.icon)" href="{{src.icon}}" target="_blank">Preview</a></td></tr>
	<tr><td allignment="right">Default Image URL</td><td><input type="text" ng-model="src.cover" ng-change="update()"></input></td><td><a ng-show="is_url(src.cover)" href="{{src.cover}}" target="_blank">Preview</a></td></tr>
        </tbody>
    </table>
	<div ng-show="!rec.create">
	<p>Attached to {{src.tags.length}} channel{{2 > src.tags.length? "" : "s"}}: </p>
		<ul>

			<li ng-repeat="ch in all_ch" ng-class="" ng-mouseover="ch.hover = true" ng-mouseleave="ch.hover=false">
				<span ng-click="switch(ch, src)" ng-class="{active_ch: ch.active, clickable: true}">{{ch.title}}</span>
				<button ng-show="ch.hover">Edit</button>

			</li>
			<li>
				<p><form ng-submit="chadd(rec.newch)"><label>+</label><input type="text" ng-model="rec.newch.title"/></p>
			</li>
		</ul>
	</div>
</script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/asso.js"></script>
<script type="text/javascript">
	angular.module('app', ["ngRoute"])
	  .factory("R0", ["$http", function($http) {
		  return { "sources": $http.get("/api/sources"), "channels": $http.get("/api/channels") };
		}])
	  .controller('SourcesCtrl', ['$scope', "R0", function ($scope, R0) {
		  R0.sources.success(function(data) {
				$scope.sources = data;
				Asso.tag($scope, R0);
			})
			.error(function(data, status) {
				console.log(data, status);
				$scope.sources = [];
			})
			;
		  R0.channels.success(function(data) {
				if(0 != data.succ) {
					console.log("channel listing error: " + data.succ);
					$scope.channels = [];
					return;
				}
				$scope.channels = data.channels;
				Asso.tag($scope, R0);
			})
			.error(function(data, status) {
				console.log(data, status);
				$scope.channels = [];
			})
			;
			
	  }])
	  .controller("SrcDetailCtrl", ['$http', '$scope', '$routeParams', 'R0', Asso.cook])
	  .config(['$routeProvider', function ($routeProvider) {
		$routeProvider
		  .when('/', {
			templateUrl: '/sources.html',
			controller: 'SourcesCtrl'
		  })
		  .when('/:id', {
			templateUrl: '/sourceDetail.html',
			controller: 'SrcDetailCtrl'
		  });
	  }])
	;
</script>
</body>
</html>
