<html ng-app="app">
<head>
  <title>Subscritions & Sources</title>
</head>
<body>
<ng-view></ng-view>
<script type="text/ng-template" id="/sources.html">
	<ul>
		<li ng-repeat="src in sources">
			<p>{{ src.title }}</p>
			<p><span>Tags: </span>
				<span ng-repeat="tag in src.tags">{{tag}} </span>
			</p>
		</li>
	</ul>
</script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script type="text/javascript">
	angular.module('app', ["ngRoute"])
	  .factory("Sources", function() {
			return [
			  { title: 'IGN - offline static demo', tags: ["Technology", "Games", "Entertainment"] },
			  { title: 'Medium - offline demo', tags: ["Design", "Technology", "Fashion"]},
			  { title: 'THR - offline static demo', tags: ["Entertainment"] },
			];
		})
	  .controller('SourceController', ['$scope', "Sources", function ($scope, Sources) {
		$scope.sources = Sources;
	  }])
	  .config(['$routeProvider', function ($routeProvider) {
		$routeProvider
		  .when('/', {
			templateUrl: '/sources.html',
			controller: 'SourceController'
		  });
	  }])
	;
</script>
</body>
</html>
