* {
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica;
}

.w100 {
	width: 100%;
}

.wtags {
	width: 160%;
}

.h100 {
	height: 100%;
}

.icon {
	width: 48px;
	height: auto;
}

.txtfff {
	color: #FFFFFF;
}
.txtctr {
	text-align: center;
}

.ofh {
	overflow: hidden;
}

.bigger {
	font-size: 120%;
}

.tag {
	font-size: 80%;
	border-radius: 3px;
	padding-left: 6px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 6px;
	margin-right: 5px;
}

.tag-in-list {
	font-size: 80%;
	border-radius: 3px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 5px;
	margin-right: 5px;
}
.inblk {
  display: inline-block;
}
.pdvd {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mgb3 {
	margin-bottom: 20px;
}

.pdvd2 {
	padding-top: 15px;
	padding-bottom: 10px;
}

.pdt2 {
	padding-top: 7px;
}

.abs {
	position: absolute;
}

.left0 {
	left: 0px;
}

.vmid {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.top0 {
	top: 0px;
}

.top-edit {
	top: -2;
	z-index: 10000;
}

.lc {
	padding-left: 10px;
}

.rc {
	padding-right: 10px;
}

.hc {
	padding-left: 10px;
	padding-right: 10px;
}

.item {
	height: 80px;
}

.full-width-row {
  overflow-x: hidden;
}


.item:hover {
	background: #F3C921;
}

.bkg0 {
	background-color: #797979;
}

.bkg1 {
	background-color: #216CB3;
}

.tbg0 {
	border-top: 1px solid #797979;
}

.status {
	font-size: 70%;
}

.msg {
	color: #F3C921;
	background-color: #595959;
	padding-top: 2px;
	padding-bottom: 2px;
}

.round3 {
	border-radius: 3px;
}

.rel {
	position: relative;
}

.ebtn {
	top: 20px;
}

.close-btn {
	width: 16px;
	height: 16px;
}

.gbtn1 {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 24px;
	padding-right: 24px;
	margin-right: 10px;
}

.gbtn0 {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
}

.trlbl {
	width: 15%;
	font-size: 80%;
	color: #808080;
}

.tfurl {
	width: 100%;
}

#edit_btn {
	margin-top: 16px;
}

.mgv0 {
	margin-top: 0;
	margin-bottom: 0;
}

.non {
    border: 0;
    outline: 0;
    background: transparent;
}

.underscore {
	border-bottom: 1px #808080 solid;
}

.title {
	background: #393939;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 0px;
}

.inactive_ch {
	border: 1px solid #808080;
}

.active_ch {
	border: 1px solid #83B613;
	background-color: #83B613;
/*
	border: 1px solid #808080;
	background-color: #808080;
*/
}
.clickable {
	cursor: pointer; 
}

.fl {
	float: left;
}

.rl {
	float: right;
}

