* {
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.icon {
	height: 36px;
}

.txtfff {
	color: #FFFFFF;
}
.txtctr {
	text-align: center;
}

.ofh {
	overflow: hidden;
}

.tag {
	font-size: 80%;
	background: #808080;
	border-radius: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 5px;
	margin-right: 5px;
}
.pdvd {
	padding-top: 10px;
	padding-bottom: 10px;
}

.lc {
	padding-left: 10px;
}

.hc {
	padding-left: 10px;
	padding-right: 10px;
}

.item {
	width: 33.3%;
	min-width: 240px;
}

.item:hover {
	background: #F3C921;
}

.tbg0 {
	border-top: 1px solid #797979;
}

.title {
	background: #393939;
	padding-top: 16px;
	padding-bottom: 16px;
}

.active_ch {
	background-color: #A3D629;
}
.clickable {
	cursor: pointer; 
}
.fl {
	float: left;
}

